/* general */

@media (min-width: 300px) and (max-width: 750px) {
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 751px) {
    body {
        width: 85%;
        margin: 8px;
        margin-left: auto;
        margin-right: auto;
    }
}

body {
    font-family: sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
}

pre {
    white-space: pre-line;
}

h2 {
    font-size: 125%;
    margin-bottom: 20px;
}

/* header */

#ob-header {
    background-color: #65cb25;
    height: 26px;
    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img.logo {
        background-color: white;
        padding: 2px;
        border: 2px solid green;
        height: 18px;
    }

    .links {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 576px){
            .oddbean-name, .about {
                display: none;
            }
        }

        .sitename {
            color: black;
        }

        .oddbean-name {
            font-weight: bold;
            margin-left: 5px;
        }

        .new-post-link {
            margin-left: 20px;
        }

        .about {
            margin-left: 20px;
        }

        .feedname {
            margin-left: 3px;
            color: #0032f5;
        }
    }

    .login {
        margin-left: 20px;
        margin-right: 5px;
    }

    .no-js {
        color: red;
    }

    a:link, a:visited {
        color: black;
    }

    .logout-link:hover {
        text-decoration: underline;
    }
}

#ob-page {
    padding: 10px 10px 10px 10px;
    background-color: #f6f6ef;
}

#ob-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    border-top: 2px solid #65cb25;
    text-align: center;

    .footer-links {
        font-size: 90%;
    }

    > * {
        margin-top: 15px;
    }
}


table {
    width: 100%;

    th {
        color: white;
        background-color: black;
    }

    tr:nth-child(odd) {
        background-color: #fefefe;
    }

    tr:nth-child(even) {
        background-color: #f6f6ef;
    }

    td,th {
        padding: 8px 5px 8px 5px;
    }

    td {
        line-break: anywhere;
    }
}

table.horiz {
    tr td:nth-child(1) {
        text-align: right;
        padding-right: 20px;
    }

    tr td:nth-child(2) {
        padding-left: 15px;
    }
}

table.vert {
    tr td:nth-child(1) {
        text-align: center;
    }

/*
    tr td:nth-child(2) {
        padding-left: 15px;
    }
    */
}

.user-metadata {
    .user-links {
        margin-top: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        > a {
            margin: 3px;
        }
    }
}


/* user comments */

.user-comments {
    .note-thread {
        margin-bottom: 30px;
        border-bottom: 1px solid black;
    }

    .more-notes {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}


/* event */

.event {
    margin-bottom: 20px;
    overflow-x: clip;

    .event-present {
        display: flex;
        flex-direction: row;
    }

    .event-not-present {
        color: red;
    }

    .header {
    }

    .highlight {
        font-weight: bold;
    }

    .abbrev {
    }

    .content {
        padding-left: 25px;
    }
}

.event-root {
    .replies {
        margin-top: 20px;
        padding-left: 20px;
        border-left: 1px dotted black;
    }

    .orphan-separator {
        width: 100%;
        text-align: center;
        border-bottom: 2px dashed #c60000;
        line-height: 0.1em;
        margin: 10px 0 20px;

        > span {
            color: #c60000;
            padding: 0 10px;
            background: #f6f6ef;
        }
    }
}


/* new post */

.new-post {
    .submit-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .result-message {
        color: red;
        text-weight: bold;
    }

    #post-text {
        max-width: 100%;
    }
}


/* feeds */

.feed-item {
    margin-bottom: 8px;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    .left {
        padding-right: 5px;
        color: #828282;
    }

    .summary > a:link, .summary > a:visited {
        text-decoration: none;
        color: black;
    }

    .summary > span {
        color: #828282;
        font-size: 75%;
    }

    .info {
        padding-top: 5px;
        font-size: 75%;
        color: #828282;
    }
}

.feed-nav-links {
    margin-top: 20px;
    margin-left: 40px;
}

.pagination-links {
    margin-top: 40px;
    text-align: center;
    > * {
        margin: 10px;
    }
}

.feed-info {
    .feed-id {
        background-color: #dfdfdf;
        font-family: monospace;
        font-size: 90%;
        padding: 5px;
        overflow-x: auto;
    }

    .feed-description {
        padding-left: 20px;
        border-left: 2px solid #0032f5;
        white-space: pre-line;
    }
}


/* voting */

.vote-buttons {
    padding-right: 5px;
    color: #828282;
    font-size: 16px;
    justify-content: flex-start;

    display: flex;
    flex-direction: column;

    > span {
        margin-bottom: 2px;
    }
}




.info-page {
    line-height: 1.2;

    padding-left: 10px;
    padding-right: 10px;

    p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    b {
        font-weight: bold;
    }
}
