# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
.terraform/

# Ignore override files as they are usually used to override resources locally and do not need to be checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .tfvars files that are used to override variable values
*.auto.tfvars
*.auto.tfvars.json
*.tfvars
*.tfvars.json

# Ignore crash log files
crash.log

# Ignore .terraform.lock.hcl files
.terraform.lock.hcl

# Ignore .terraform/environment files
.terraform/environment

