<div class="community-item vote-context" data-note="$(ctx.ev.getNoteId())">
    <div class="left">
        <div>$(ctx.n).</div>
    </div>

    <div class="vote-buttons">
        <span class="u">▲</span>
        <span class="d">▼</span>
    </div>

    <div class="right">
        <div class="summary">
            <a href="/e/$(ctx.ev.getNoteId())">$!(ctx.ev.summaryHtml())</a>
        </div>

        <div class="info">
            <span>$(renderPoints(ctx.info.score))</span> points by
            <a href="/u/$(ctx.user.npubId)">$(ctx.user.username)</a>
            $(ctx.timestamp) |
            <span class="f">flag</span> |
            <a href="/e/$(ctx.ev.getNoteId())">$(ctx.info.comments) comments</a>
        </div>
    </div>
</div>
