<div class="info-page">
    <p>
        Hi, thanks for stopping by! Oddbean is a discussion site built on <a href="https://github.com/nostr-protocol/nostr">the nostr protocol</a>. You may notice that the design is heavily inspired by Hacker News and Reddit. This is on purpose. I want Oddbean to be a comfortable and familiar experience, with fast loading pages and minimal distractions.
    </p>

    <p>
        <b>Why nostr?</b> Nostr is a protocol for building decentralised systems. Is it perfect? No, but today it is the closest thing we have to a decentralised social media protocol. Oddbean is just one of many interfaces to the same network. Even though most of the posts don't originate here, Oddbean users can still interact with anyone else on the network, thanks to the interoperability of nostr. If you get tired of Oddbean, you can easily move to another client. Oddbean is built on the strfry relay, and is <a href="https://github.com/hoytech/strfry/tree/web/src/apps/web">open source</a>.
    </p>

    <p>
        <b>No crap.</b> I just want to build a great distraction-free discussion site. No elements bouncing around as the page loads. No cookie pop-ups. In fact, no cookies, period. No tracking analytics. No "sign-up to our newsletter" modals that appear half way down. No dark patterns to boost engagement numbers. Javascript is optional (only needed for posting).
    </p>

    <p>
        <b>No images.</b> The written word is one of the greatest achievements of civilisation. They say "a picture is worth a thousand words", but consider this: If you give me a picture, I can describe it in exquisite detail using a thousand words. But if I give you a thousand words, can you draw a picture that conveys all this information?
    </p>

    <p>
        <b>How do I login?</b> You don't. If you want to post or vote, I recommend using a browser extension such as nos2x (<a href="https://chrome.google.com/webstore/detail/nos2x/kpgefcfmnafjgpblomihpgmejjdanjjp">chrome</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/nos2x-fox/">firefox</a>), or one of <a href="https://github.com/aljazceru/awesome-nostr#browser-extensions">several others.</a>
    </p>

    <p>
        <b>Topics.</b> Notes can be tagged with arbitrary topics, and show up on corresponding topic pages. They are sort of like subreddits, except that a note can belong to multiple topics at the same time. You can use topics to find and build communities around certain interests. For an example, see <a href="/t/asknostr">#asknostr</a>. Topics can be viewed in two modes: "Best" is a simple algorithm that tries to show the most popular notes in the last day or two, and "all" simply shows all notes without scoring or filtering.
    </p>

    <p>
        - <a href="/u/npub1yxprsscnjw2e6myxz73mmzvnqw5kvzd5ffjya9ecjypc5l0gvgksh8qud4">Doug</a>
    </p>
</div>
