<div class="info-page">
    <p>
        Hi, thanks for stopping by! Oddbean is a discussion site built on <a href="https://github.com/nostr-protocol/nostr">the nostr protocol</a>. You may notice that the design is heavily inspired by Hacker News and Reddit. This is on purpose. I want Oddbean to be a comfortable and familiar experience, with fast loading pages and minimal distractions.
    </p>

    <p>
        <b>Why nostr?</b> Nostr is a protocol for building decentralised systems. Is it perfect? No, but today it is the closest thing we have to an honest-to-goodness decentralised social media protocol. Oddbean is just one of many interfaces to the same network. Even though most of the posts don't originate here, Oddbean users can still interact with anyone else on the network, thanks to the interoperability of nostr. If you get tired of Oddbean, you can easily move to another client.
    </p>

    <p>
        <b>No crap.</b> I just want to build a great distraction-free discussion site. No elements bouncing around as the page loads. No cookie pop-ups. In fact, no cookies, period. No "sign-up to our newsletter" modals that appear half way down. No dark patterns to boost engagement numbers. No tracking. Javascript is optional (only needed for posting).
    </p>

    <p>
        <b>No images.</b> The written word is one of the greatest achievements of civilisation. They say "a picture is worth a thousand words", but consider this: If you give me a picture, I can describe it in great detail using a thousand words. But if I give you a thousand words, can you draw a picture that conveys all this information?
    </p>

    <p>
        <b>How do I login?</b> You don't. If you want to post or vote, I recommend using a browser extension such as nos2x (<a href="https://chrome.google.com/webstore/detail/nos2x/kpgefcfmnafjgpblomihpgmejjdanjjp">chrome</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/nos2x-fox/">firefox</a>), or one of <a href="https://github.com/aljazceru/awesome-nostr#browser-extensions">several others.</a>
    </p>

    <p>
        <b>Is there an algorithm?</b> Yes, <a href="https://www.tbray.org/ongoing/When/202x/2022/11/28/On-Algorithms">computers don't work without algorithms</a>. The goal of Oddbean is to make the algorithms used for ranking and filtering posts and comments transparent. When communities are ready, you'll be able to click on "algo" at the top of a community page and see exactly how it works. If you don't like it, you can fork it to your own community. The homepage is just another community, except one that I control. Don't like it? Don't use it.
    </p>
</div>
