<div class="event-root">
    $(ctx.foundEvents)

    <div class="orphan-separator"> ?(ctx.isFullThreadLoaded && ctx.orphanNodes.size() > 0)
        <span>orphan notes (missing parents)</span>
    </div>

    <div class="replies"> @(auto &e : ctx.orphanNodes)
        $(e.rendered)
    </div>
</div>
