<div class="info-page">
    <p>Hi, welcome!</p>

    <p>Oddbean does not use usernames or passwords. If you want to post on Oddbean, you'll need to generate a <a href="https://github.com/nostr-protocol/nostr">nostr private key</a>. But don't worry, this is easy and free. Best of all, if you get tired of Oddbean you can easily bring your key over to one of the many other nostr clients.</p>

    <p>You should always keep your private key secret. That's why you'll never be asked to enter it into the Oddbean site. Instead, we recommend using a browser extension such as nos2x (<a href="https://chrome.google.com/webstore/detail/nos2x/kpgefcfmnafjgpblomihpgmejjdanjjp">chrome</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/nos2x-fox/">firefox</a>), or one of <a href="https://github.com/aljazceru/awesome-nostr#browser-extensions">several others.</a></p>
</div>
