<h2 class="topic-header">
    <span class="topic-name topic-chip">$(ctx.topicRendered)</span>

    <span class="nav-current">best</span> ?(!ctx.showAll)
    <a href="$(ctx.urlBase)">best</a> ?(ctx.showAll)
    |
    <a href="$(ctx.urlBase)?all=1">all</a> ?(!ctx.showAll)
    <span class="nav-current">all</span> ?(ctx.showAll)
</h2>

<div> @(const auto &ev : ctx.events)
    <div class="topic-item vote-context" data-note="$(ev.noteId)">
        <div class="left">
            <div>$(ev.n).</div>
            <div class="oddbean-post" title="Created with Oddbean!"></div> ?(ev.scores.isOddbean)
        </div>

        <div class="vote-buttons">
            <span class="u">▲</span>
            <span class="d">▼</span>
        </div>

        <div class="right">
            <div class="summary">
                <a href="/e/$(ev.noteId)">$!(ev.summaryHtml)</a>
            </div>

            <div class="info">
                <span>$(renderPoints(ev.scores.upVotes))</span> points by
                <a href="/u/$(ev.userNpub)">$(ev.username)</a>
                $(ev.timestamp) |
                <span class="f">flag</span> |
                <a href="/e/$(ev.noteId)">$(ev.scores.comments) comments</a>
            </div>
        </div>
    </div>
</div>

<div class="more-notes"> ?(ctx.nextResumeTime)
    <a href="$(ctx.urlBase)?next=$(*ctx.nextResumeTime)&n=$(ctx.startN + ctx.events.size())$(ctx.showAllQueryString())">More notes for $(ctx.topicRendered)</a>
</div>
