<div class="user-metadata">
    <div> ?(!ctx.kind0Found())
        No metadata event found for $(ctx.npubId)
    </div>

    <table class="horiz"> ?(ctx.kind0Found())
        <tr>
            <th>npub</th>
            <td>$(ctx.npubId)</td>
        </tr>

        <tr>
            <th>$(field)</th>
            <td>$(ctx.getMeta(field))</td>
        </tr> @(const auto &field : { "name", "about" })

        <>
            <tr>
                <th>$(field)</th>
                <td>$(ctx.getMeta(field))</td>
            </tr> ?(field != "name" && field != "about")
        </> @(const auto &[field, v] : ctx.kind0Json->get_object())

    </table>

    <div class="user-links">
        <a href="/u/$(ctx.npubId)/notes">notes</a>
        <a href="/u/$(ctx.npubId)/following">following</a>
        <a href="/u/$(ctx.npubId)/followers">followers</a>
        <a href="/u/$(ctx.npubId)/export.jsonl">export</a>
        <a href="/u/$(ctx.npubId)/rss.xml">rss</a>
    </div>
</div>
